


.firstDivAfterSLider{
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2.5% !important;
  padding-right: 2.5% !important;
  background-color: white;
 
}

.firstArticleInFirstDiv{
  width: 50%;
  padding-right: 2.5%;
}

.firstArticleInFirstDivH1{
  letter-spacing: 0.4rem;
}

.firstArticleInFirstDivParagraph{
   color: black !important;
   line-height: 1.99rem;
  
}

.firstSectionInFirstDiv{
  width: 50%;
  padding-left: 2.5%;
}

.container1-bottom-banner{
  height:60vh 
}
.background-img-bottom-banner{
 
  background: no-repeat center;
	background-size: cover;
	width: 100%  !important;
	max-height: 100% !important;
	height:60vh !important;
}

.background-cover-bottom-banner{
  background: maroon;
  z-index:85;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  opacity:0.08;
}

.centered1-bottom-banner{
  position: relative;
	z-index: 105;
  text-align: center;
  color: white;
}

.banner-heading{
  padding-top: 6.5vh;
  font-size: 1.6rem;
 }

.bannersubHeading{
 padding-top: 3.5vh ;
 font-size: 1.0rem;
 font-weight: 100;
}

.banner-paragraph{
  padding-top: 3.5vh ;
  font-size: 1.2rem;
  font-weight: 100;
  padding-left: 5%;
  padding-right: 5%;
}

.banner-rating{
   padding-top: 5.5vh;
  
}

.rating-icon{
  font-size: 2.2rem !important;
  margin-left: 0.3%;
  margin-right: 0.3%;

}

.newArrivalImageDiv{
 width: 24.000vw !important;
 height:  31.354vh !important;
}

.newArrivalImages{
  object-fit: cover;
 
}


.viewAllStock:hover{
  opacity: 0.5;
}

.container1-new-arrivals{
	height:45%;
  
}

.centered1-new-arrivals{
  position: relative;
	top: -6.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.6rem;
	z-index: 105;
	padding-left: 10%;
  padding-right: 10%;


}



/* ~~~~~~~ INIT. BTN ~~~~~~~ */

.btn-new-arrivals{
  margin-left: 1.5%;
  width: 100%;
  position: relative;	
  padding: 10%;
 	font-size: 0.7rem;
  flex-wrap:nowrap !important;
	color: gray;
	letter-spacing: 0.4rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
  background-color: rgba(118, 116, 116, 0.2);
  border: 1px solid transparent;
  text-align: center;
}

.btn-new-arrivals:before, .btn-new-arrivals:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
  background-color: rgba(118, 116, 116, 0.2)
}

.btn-new-arrivals:hover {
	color: white;
	transition-delay: .5s;
  background-color: rgba(118, 116, 116, 0.5);
  border: 1px solid white;
}

.btn-new-arrivals:hover:before {
	transition-delay: 0s;
}

.btn-new-arrivals:hover:after {
	background: var(--inv);
	transition-delay: .35s;
  
}

/* From Left */

.from-left-new-arrivals:before, 
.from-left-new-arrivals:after {
	top: 0;
	width: 0;
	height: 100%;
 
}

.from-left-new-arrivals:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
 
}

.from-left-new-arrivals:after {
	left: 0;

}

.from-left-new-arrivals:hover:before,
.from-left-new-arrivals:hover:after {
	width: 100%;
  background-color: rgba(118, 116, 116, 0.2);
}

.featured-vehicle-main-flex{
  display: flex;
  padding-left: 2.5%;
  padding-right:2.5%;
  padding-bottom: 5.0%;
}



.featured-vehicle-image{
  width: 40%;
  
}

.featured-vehicle-image-container{
  width: 36vw;
  height: 341px;

}




.featured-vehicle-paragraph{
  width: 60%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}


.featured-vehicle-paragraph-heading{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.featured-vehicle-paragraph-heading-description{
  font-size: 1.3rem;
  font-weight: 100;
  

}

.featured-vehicle-paragraph-heading-price{
  font-size: 1.3rem;
  font-weight: 100;
 
 

}


.featured-vehicle-icons{
  display: flex;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}



.featured-vehicle-icons-on-mobile{
  display: none;
}






.div-btn-featured-vehicle{
  width : 50%;
  margin: auto;
}

/* ~~~~~~~ INIT. BTN ~~~~~~~ */

.btn-featured-vehicle {		
	position: relative;	
  text-align: center;
	padding: 5%;
	color: gray;
	letter-spacing:0.15rem ;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
  background-color: rgba(118, 116, 116, 0.2);
  border: 2px solid transparent;
 
 

}

.btn-featured-vehicle:before, .btn-featured-vehicle:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
  background-color:  rgba(118, 116, 116, 0.2);
}

.btn-featured-vehicle:hover {
	color: white;
	transition-delay: .5s;
  background-color:  rgba(118, 116, 116, 0.2);
  border: 2px solid white;
}

.btn-featured-vehicle:hover:before {
	transition-delay: 0s;
}

.btn-featured-vehicle:hover:after {
	background: var(--inv);
	transition-delay: .35s;
}


/* From center */

.from-center-featured-vehicle:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;
}

.from-center-featured-vehicle:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: var(--inv);
}

.from-center-featured-vehicle:hover:before {
	left: 0;
	width: 100%;
  background-color: black;
}

.from-center-featured-vehicle:hover:after {
	top: 0;
	height: 100%;
  background-color: black;
}



.main-div-lastBannerHome{
  width: 100%;
  height:600px;


 
}



.lastBannerHome{
  
  background: no-repeat center;
	background-size: cover;
	width: 100%  !important;
	max-height: 100% !important;
	height:100vh !important;
  
  


}

.lastBannerHome-background-cover{
  display: flex;
  justify-content: space-around;
  padding-top: 7%;
  padding-bottom: 7%;
  width: 100%;
  height:100%;
  
  background-color: rgba(0,0,0, 0.05);
}


.lastBannerHome-card-width{
   width: 20%;
   text-align: center;

}

.lastBannerHome-card-background{
 
  background-color: rgba(24, 24, 24, 0.65);
  width: 100%;
  height: 100%;
}

.lastBannerHome-card-flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 8%;
}





























@media screen and (max-width: 960px) {

  .firstDivAfterSLider{
 
    display: block;
 
    text-align: center;
  
   
    
  }


  .firstArticleInFirstDiv{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    
   
  }
  
  .firstSectionInFirstDiv{
    width: 100% !important;
    padding-left: 0%;
   
   
  
  
  }


  .banner-heading{
   
    font-size: 1.0rem;
    padding-left: 5%;
    padding-right: 5%;
    
  }

  .bannersubHeading{
   
    font-size: 0.7rem;
    
   }

   
  .banner-paragraph{
    padding-top: 3.5vh ;
    font-size: 0.8rem;
    font-weight: 100;
    padding-left: 5%;
    padding-right: 5%;
  }

  .container1-new-arrivals{
    padding-left: 1.5%;
    padding-right: 1.5%;
  }




 
  .newArrivalImageDiv{
   
    /* width:11.35rem !important;
    height: 7.25rem !important;
    */

   width: 100% !important;
   height: 7.75rem !important;
 
   
   }


   .newArrivalImages{
   /* width: 177px !important;
   height: 114.66px !important;
   padding-left: 3.5% !important;
   
   object-fit: cover !important; */
 

  width: 96.5% !important;
  height: 7.75rem !important;

   object-fit: cover !important;
 
   
   
  
  }

  .centered1-new-arrivals{
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.6rem;
    z-index: 105;
    
  
  }
  

  .btn-new-arrivals {		
    margin-left: 0%  !important;
    margin-right: 0% !important;
    font-size: 0.6rem;
    color: white;
    letter-spacing: 0.3rem;
    background-color: rgba(118, 116, 116, 0.18);
  
   padding-left: 0%!important;
   padding-right: 0%!important;
   text-align: center;
    overflow: hidden !important;
    
  }
    
  .new-arrivals-h2{
    font-size: 1.2rem !important;
    padding-top: 5.0%!important;
    padding-bottom: 5.0%!important;
  }
  .new-arrivals-span{
    font-size: 1.2rem !important;
    padding-top: 4.0%!important;
    padding-bottom: 4.0%!important;
    padding-right: 3.0% !important;
  }

  .new-arrivals-icon{
    font-size: 18px !important;
  }

  .new-arrival-title{
    font-size: 0.8rem !important;
    padding-left: 4.0% !important;
  }

  .new-arrival-price{
    font-size: 0.8rem !important;
    padding-left: 4.0% !important;
  }

.featured-vehicle-main{
   text-align: center;
  
}

  .featured-vehicle-heading{

    padding-top:3.5% !important;
    padding-bottom: 3.5% !important;
    font-size: 1.2rem !important;
   
  }


  .featured-vehicle-main-flex{
    display: block;
    padding-left: 2.5%;
    padding-right:2.5%;
    padding-bottom: 5.0%;
   
   
  }



  .featured-vehicle-image{
    width: 100%;
    
    
  }
  
  .featured-vehicle-image-container{
    width: 100%;
    height: 100%;
   
  
  }


  .featured-vehicle-paragraph{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  
 

.featured-vehicle-paragraph-heading{
  display:block;
  
  
}

.featured-vehicle-paragraph-heading-description{
font-size: 1.2rem;
font-weight: 100;
margin-top: 2.5%;
margin-bottom: 2.5%;
text-align: center;

}

.featured-vehicle-paragraph-heading-price{
font-size: 1.0rem;
font-weight: bold;
margin-top: 2.5%;
margin-bottom: 2.5%;
text-align: center;

}


.featured-vehicle-icons{
display: none;
}
 

.featured-vehicle-icons-on-mobile{
  display: flex;
  justify-content: space-around;
  padding-top: 2.5%;
  padding-bottom: 2.5%;

}


.featurd-vehicle-main-paragraph-on-mobile{
  font-size: 1.0rem !important;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.btn-featured-vehicle {		
	color: white;
  background-color:black;
  font-size: 0.9rem !important;
 
 
}

.featured-vehicle-icon{
  font-size: 0.9rem !important;
}

.main-div-lastBannerHome{
  width: 100%;
  height:100% !important ;
  padding: 5%;
  overflow: hidden;
}

.lastBannerHome{
  
  background-image: none !important;
   width: 100%  !important;
	height:100% !important;

}

.lastBannerHome-background-cover{
  display: block;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
  width: 100%;
  height:100% !important;
  padding-top: 0% !important;
  background-color:inherit;
}


.lastBannerHome-card-width{
  width: 100%;
  text-align: center;
  margin-bottom: 2.5% !important;

}

.lastBannerHome-card-flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  height: 100% ;
  width: 100%;
  margin-bottom: 5%;

}

.lastBannerHome-card-background{
  background-color: rgb(24, 24, 24);
  width: 100%;
  height: 100%;
 
}


}












