
.centered1-stock-card{
  position: relative;
	top: -50% ;
  left: 50%;
  transform: translate(-50%, -56%);
  font-size: 2.6rem;
	/* z-index: 105; */
    
    padding-left: 10%;
    padding-right: 10%;
}



.btn-stock-card{
  position: relative;	
  padding: 10%;
 	font-size: 0.7rem;
  flex-wrap:nowrap !important;
	color: gray;
	letter-spacing: 0.4rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
  background-color: rgba(118, 116, 116, 0.2);
  border: 2px solid transparent;
  text-align: center;
}

.btn-stock-card:before, .btn-stock-card:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
	background-color:  maroon;
}

@media screen and (min-width: 961px) {
	.btn-stock-card:hover {
		color: white;
		transition-delay: .5s;
		background-color:  maroon !important;

	}

	.btn-stock-card:hover:before {
		transition-delay: 0s;
	}

	.btn-stock-card:hover:after {
		background: var(--inv);
		transition-delay: .35s;
		
	}
}

/* From Left */

.from-left-stock-card:before, 
.from-left-stock-card:after {
	top: 0;
	width: 0;
	height: 100%;
 
}

.from-left-stock-card:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
 
}

.from-left-stock-card:after {
	left: 0;

}

@media screen and (min-width: 961px) {

	.from-left-stock-card:hover:before,
	.from-left-stock-card:hover:after {
		width: 100%;
		background-color: black;
	}
}








@media screen and (max-width: 960px) {
.car-item-li-on-mobile{
		
		padding: 0% !important;
}
.car-item-img-div-on-mobile{
	height: 13.438rem !important ;
}

.car-item-img-on-mobile{
	height: 13.438rem !important ;
	
}

	 
	.btn-stock-card{
		position: relative;	
		padding: 10%;
		 font-size: 0.7rem;
		flex-wrap:nowrap !important;
		color: white;
		letter-spacing: 0.4rem;
		text-transform: uppercase;
		transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
		cursor: pointer;
		user-select: none;
		background-color: rgba(118, 116, 116, 0.5);
		border: 1px solid white;
		text-align: center;
	}



}